:root {
    --dark-blue: #233453;
    --light-blue: #297099;
}

.navbar {
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2;
    width: 100%;
}

.navbar .menu {
    width: 50px;
    height: 50px;
    display: none;
}

.navbar .line {
    background-color: black;
    width: 90%;
    height: 20%;
    margin-bottom: 3px;
    border-radius: 2px;
}

.navbar h2 {
    color: var(--light-blue);
    margin-left: 20px;
    font-family: monospace;
    font-size: 35px;
    text-shadow: -2px 1px 2px black;
}

.navbar .nav {
    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr;
    align-items: center;
    background-color: white;
    height: fit-content;
    padding: 20px 0;
}

.navbar .nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 20px;
    align-items: center;
}

.navbar .links {
    text-decoration: none;
    font-weight: bold;
    color: var(--dark-blue);
    transition: all .1s ease;
}

.navbar .links:hover {
    font-size: 20px;
}

.navbar .sign-div {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    width: 70%;
    justify-self: end;
    height: 70%;
    border-radius: 7px;
    align-items: center;
    padding-bottom: 10px;
}

.navbar .sign {
    text-decoration: none;
    font-weight: bold;
    color: rgb(87, 83, 83);
    font-size: 18px;
    padding-top: 15px;
}

.navbar .log-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    justify-self: start;
    align-items: center;
}

.navbar .log-div button {
    background-color: rgb(240, 107, 107);
    color: white;
    font-weight: bold;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 7px;
    margin-right: 5px;
    cursor: pointer;
}

.navbar .log-div span {
    font-weight: bold;
    color: rgb(87, 83, 83);
    font-size: 18px;
    width: fit-content;
}

@media (max-width: 1024px) {
    .navbar {
        width: 400px;
        top: 0;
        right: 0;
        display: block;
    }

    .navbar .menu {
        display: block;
        position: fixed;
        right: 0px;
        top: 0;
        z-index: 3;
    }

    .navbar .nav {
        position: fixed;
        top: 0;
        right: -400px;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        height: 100vh;
        transition: all .3s ease;
    }
    .navbar .nav.active {
        right: 0;
    }

    .navbar h2 {
        margin-bottom: 60px;
        margin-top: 50px;
    }

    .navbar .nav ul {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin-bottom: 30px;
    }

    .navbar .nav ul li {
        border: solid black 1px;
        width: 100%;
        padding: 20px 10px;
    }

    .navbar .log-div {
        display: grid;
        grid-template-columns: 1fr;
    }

    .navbar .log-div button {
        width: 100px;
    }

    .navbar .sign-div {
        display: grid;
        grid-template-columns: 1fr;
    }
}