body {
    font-family: sans-serif;
    background: linear-gradient(to bottom, rgb(198, 231, 241), white);
    min-height: 100vh;
    padding-bottom: 100px;
    padding-top: 150px;
    width: 100%;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}